services:
  zookeeper:
    image: bitnami/zookeeper:3.9.1
    environment:
      ALLOW_ANONYMOUS_LOGIN: yes

  kafka:
    image: bitnami/kafka:3.6
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: CLIENT://kafka:29092,LOCAL://localhost:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: CLIENT://kafka:29092,LOCAL://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CLIENT:PLAINTEXT,LOCAL:PLAINTEXT # TODO: SASL/SCRAM
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: CLIENT
    depends_on:
      - zookeeper
    healthcheck:
      test: kafka-topics.sh --bootstrap-server localhost:9092 --list
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10

  akhq:
    image: tchiotludo/akhq
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka:29092"

    ports:
      - 8080:8080

  etl:
    image: kafka-example-java
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      APPLICATION_PRODUCER_ENABLED: true
      APPLICATION_PRODUCER_CLOUDEVENTS_TYPE: com.matillion.resource-usage
      APPLICATION_PRODUCER_CLOUDEVENTS_SOURCE: https://matillion-etl
      APPLICATION_PRODUCER_KAFKA_TOPIC: saas-resource-usage
      APPLICATION_PRODUCER_EVENT_DATA_CLASS: engineering.james.kafkaexample.events.ResourceUsage

  credit_cost_calculator:
    image: kafka-example-java
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      APPLICATION_PRODUCER_ENABLED: true
      APPLICATION_PRODUCER_CLOUDEVENTS_TYPE: com.matillion.credit-charge
      APPLICATION_PRODUCER_CLOUDEVENTS_SOURCE: https://credit-cost-calculator
      APPLICATION_PRODUCER_EVENT_DATA_CLASS: engineering.james.kafkaexample.events.CreditCharge
      APPLICATION_PRODUCER_KAFKA_TOPIC: saas-credit-charges
      APPLICATION_CONSUMER_ENABLED: true
      APPLICATION_CONSUMER_KAFKA_TOPIC: saas-resource-usage
      APPLICATION_CONSUMER_EVENT_DATA_CLASS: engineering.james.kafkaexample.events.ResourceUsage
      SPRING_KAFKA_CONSUMER_GROUP_ID: credit-cost-calculator

  usage_analytics:
    image: kafka-example-consumer-python
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      APPLICATION_CONSUMER_KAFKA_TOPIC: saas-resource-usage
      APPLICATION_CONSUMER_GROUP_ID: usage-analytics
